girder_client
pillow
numpy<2.0
scikit-image
imageio
torch
torchvision
transformers
segment-anything-py
opencv-python
scikit-learn
matplotlib
pandas
google-generativeai
tensorboard
submitit
tensordict
hydra-core
fvcore
tqdm
iopath
jupyter